<h1>Heather's Favorite Things</h1>

        <ul style="list-style-type:square">
            
            <li><a href="http://chicago.cubs.mlb.com/index.jsp?c_id=chc" target="_blank">Chicago Cubs</a> </li>
            <li><a href="http://www.akc.org/dog-breeds/" target="_blank">Dogs</a></li>
            <li><a href="http://www.ahml.info/" target="_blank">Reading</a></li>
            <li><a href="http://www.gocampingamerica.com/" target="_blank">Camping</a></li>
            <li><a href="https://www.nps.gov/romo/index.htm" target="_blank">Rocky Mountain National Park</a></li>
        </ul>
